body {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2.5%;
    max-width: 1920px;
    margin: auto;
}

h1 {
    font-weight: bold;
}

.text-primary {
    color: white !important;
}

.border-5 {
    border-width: 5px !important;
}

.rounded-lg {
    border-radius: 25px !important;
}

.bg-passion {
    /* https://uigradients.com/#Passion */
    background: #e53935; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #e35d5b,
        #e53935
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #e35d5b,
        #e53935
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-firewatch {
    /* https://uigradients.com/#Firewatch */
    background: #cb2d3e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ef473a,
        #cb2d3e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ef473a,
        #cb2d3e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-blush {
    background: #f15f79; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f15f79,
        #b24592
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f15f79,
        #b24592
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-ibizasunset {
    /* https://uigradients.com/#IbizaSunset */
    background: #ee2959 !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ff6a00,
        #ee0979
    ) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ff6a00,
        #ee0979
    ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-cherry {
    /* https://uigradients.com/#Cherry */
    background: #eb3349; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f45c43,
        #eb3349
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f45c43,
        #eb3349
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-outline-light {
    height: 40px;
}

.btn-outline-light:hover {
    color: #ee2959;
}

.card-columns .card {
    border: 0px;
}

.message {
    white-space: pre-wrap;
}

.rounded-sm {
    border-radius: 25px !important;
}