{% extends "parent.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-transparent">
  <!-- logo -->
  <a class="navbar-brand" href="/">
    <img src="/public/images/logo.png" alt="Wall of Thanks Logo" height="100" width="215">
  </a>

  <button class="navbar-toggler bg-danger btn-lg ml-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <div class="ml-auto">
        <a class="btn btn-danger btn-lg" href="/">
          <i class="far fa-edit"></i>
          Back to the Wall
        </a>
      </div>
  </div>
</nav>
{% endblock %}

{% block insert %}

<br>

<div class="col-md-12 m-auto {{ ['bg-passion', 'bg-firewatch', 'bg-cherry', 'bg-blush', 'bg-ibizasunset'] | random }} text-primary shadow" style="padding: 3em; border-radius: 50px;">
  <!-- header -->
  <h1>About Us</h1>

  <br>

  <p>

    The last few weeks have presented a lot of changes in response to the COVID-19 pandemic. With social distancing and quarantining, our lives feel restricted. The uncertainty of the future and our growing anxiousness as we are stuck inside take a toll on our mental health. We constantly wish for things to return to normal and in return often overlook the little moments we would otherwise be thankful for. The Wall of Thanks was created by three seniors at Stuyvesant High School as an effort to remind our community members of those small moments of privileged happiness.

  </p>

  <br>

  <p>
    So, whenever there’s something that puts a smile on your face, warms your heart, or makes you feel appreciative come and share here with the world. Thankfulness is contagious, so as you share these moments we hope you find comfort and hope. Most importantly, we want to remember and remind one another of how blessed we are even in the hardest of times.

  </p>

  <br>

  <h6>
    Happy posting,
  </h6>

  <h6>
    Team Wall of Thanks
  </h6>

  {% endblock %}
