{% extends "parent.html" %}

{% block navbar %}
<nav class="navbar navbar-transparent">
     <!-- logo -->
     <a class="navbar-brand" href="/">
          <img src="/public/images/logo.png" alt="not working" height="100" width="215">
     </a>
     <div>
          <a class="btn btn-danger btn-lg" href="/admins/dashboard">View All Posts</a>
          <a class="btn btn-danger btn-lg ml-3" href="/admins/logout">Logout</a>
     </div>
</nav>
{% endblock %}

{% block insert %}
	<br>
	<h1 class='text-center mb-3'>Admin Reported</h1>
     <div class="row"> 
     {% for post in posts %}
     <div class="col-md-6 p-3">
          <div class="p-4 {{ ['bg-passion', 'bg-firewatch', 'bg-cherry', 'bg-blush', 'bg-ibizasunset'] | random }} text-primary rounded-lg shadow">
               <!-- header -->
               <p><small>{{ post.name}}, <i>{{ post.location }}</i></small></p>
               <p><small>{{ post.timestamp }}</small></p>
               <!-- content -->
               <p>{{ post.message }}</p>
               <p><small>{{ post.hearts }} hearts</small></p>
               <button class="btn btn-labeled btn-outline-light mr-3" onclick="approveCard('{{ post._id }}')">
                    <span><i class="fas fa-check mr-2"></i>Approve Post</span>
               <button class="btn btn-labeled btn-outline-light" onclick="deleteCard('{{ post._id }}')">
                    <span><i class="fas fa-trash mr-2"></i>Delete Post</span>
          </div>
     </div>
     {% endfor %}
     </div>
     <br>
{% endblock %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="/js/admin.js"></script>
{% endblock %}