{% extends "parent.html" %}

{% block navbar %}
<nav class="navbar navbar-dark navbar-expand-lg">
     <!-- logo -->
     <a class="navbar-brand" href="/">
          <img src="/public/images/logo.png" alt="not working" height="100" width="215">
     </a>

     <button class="navbar-toggler bg-danger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <div class="ml-auto">
              <a class="btn btn-danger btn-lg m-1" href="/admins/reported">View Reported Posts</a>
              <a class="btn btn-danger btn-lg m-1" href="/admins/logout">Logout</a>
          </div>
     </div>
</nav>
{% endblock %}

{% block insert %}
     <br>
     <h1 class='text-center mb-3'>Admin Dashboard</h1>
     <div class="row"> 
     {% for post in posts %}
          <div class="col-md-6 p-3">
               <div class="p-4 {{ ['bg-passion', 'bg-firewatch', 'bg-cherry', 'bg-blush', 'bg-ibizasunset'] | random }} text-primary rounded-lg shadow">
                    <!-- header -->
                    <p><small>{{ post.name}}, <i>{{ post.location }}</i></small></p>
                    <p><small>{{ post.timestamp }}</small></p>
                    <!-- content -->
                    <p>{{ post.message }}</p>
                    <p><small>{{ post.hearts }} {{ "heart" if post.hearts == 1 else "hearts" }}</small></p>
                    {% if post.reported %}
                    <button class="btn btn-labeled btn-outline-light mr-3" onclick="approveCard('{{ post._id }}')">
                         <span><i class="fas fa-check mr-2"></i>Approve Post</span>
                    {% endif %}
                    <button class="btn btn-labeled btn-outline-light" onclick="deleteCard('{{ post._id }}')">
                         <span><i class="fas fa-trash mr-2"></i>Delete Post</span>
               </div>
          </div>
     {% endfor %}
     </div>
     <br>
{% endblock %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="/js/admin.js"></script>
{% endblock %}