{% extends "parent.html" %}

{% block navbar %}
<nav class="navbar navbar-transparent">
     <!-- logo -->
     <a class="navbar-brand" href="/">
          <img src="/public/images/logo.png" alt="not working" height="100" width="215">
     </a>
     <a class="btn btn-danger btn-lg" href="/admins/logout">Logout</a>
</nav>
{% endblock %}

{% block insert %}
     <br>
     <h1 class='text-center mb-3'>Admin Dashboard</h1>
     <a class="mb-5 btn btn-danger btn-lg" href="/admins/reported">View Reported Posts</a>
     {% for post in posts %}
     <div class="row"> 
          <div class="container col w-100 bg-light border border-danger text-danger rounded" style="padding: 1em;">
               <!-- header -->
               <p><small>{{ post.name}}, <i>{{ post.location }}</i></small></p>
               <p><small>{{ post.timestamp }}</small></p>
               <!-- content -->
               <p>{{ post.message }}</p>
               {% if post.reported %}
               <button class="mr-3 btn btn-labeled btn-danger" onclick="approveCard('{{ post._id }}')">
                 <span class="btn-label"><i class="far fa-flag" style="margin-right: 0.5rem;"></i></i>Approve Post</span>
               {% endif %}
               <button class="btn btn-labeled btn-danger" onclick="deleteCard('{{ post._id }}')">
                <span class="btn-label"><i class="fas fa-trash" style="margin-right: 0.5rem;"></i></i>Delete Post</span>
            </button>
          </div>
     </div>
     <br>
     {% endfor %}
{% endblock %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="/js/admin.js"></script>
{% endblock %}