{% extends "parent.html" %}

{% block insert %}
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6 m-auto">
                <div class="card card-body bg-light">
                    <a class="text-center" href="/">
                        <img
                            src="/public/images/logo.png"
                            alt="not working"
                            height="100"
                            width="215"
                        />
                    </a>
                    <br />
                    <h1 class="text-center mb-3">Login</h1>
                    <form action="/admins/login" method="POST">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username"
                            class="form-control" placeholder="Enter Username"
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password"
                            class="form-control" placeholder="Create Password"
                        </div>
                        <br />
                        <button
                            type="submit"
                            class="btn btn-outline-danger btn-block"
                        >
                            Login
                        </button>
                    </form>
                    <br />
                    <div class="text-center">
                        <p>
                            Don't Have An Account?
                            <a href="/admins/register">Register</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}