{% extends "parent.html" %}

{% block navbar %}
<nav class="navbar navbar-transparent">
     <!-- logo -->
     <a class="navbar-brand" href="#">
          <img src="/public/images/logo.png" alt="not working" height="100" width="215">
     </a>

     <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">
          <i class="far fa-edit"></i>
          Add to the Wall
     </button>
</nav>
{% endblock %}

{% block extras %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
     <div class="modal-dialog" role="document">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Post of Thanks</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
               </div>
               <form name="createCardForm" id="createCardForm" action="/cards/create" method="POST" onSubmit="return checkProfanity()">
                    <div class="modal-body">
                         <div class="form-group">
                              <label for="Input1">Name</label>
                              <input type="text" class="form-control" id="name" name="name" placeholder="Vishwaa Sofat"
                                   required>
                         </div>
                         <div class="form-group">
                              <label for="formGroupExampleInput2">Location</label>
                              <div class="row">
                                   <div class="col-10">
                                        <input type="text" class="form-control" id="location" name="location"
                                   placeholder="New York, NY" required>
                                   </div>
                                   <div class="col-2 ">
                                        <button type="button" class="btn btn-labeled btn-danger" onclick="updateLocation();">
                                             <span class="btn-label" style="font-size: 24px;"><i class="fas fa-map-marker-alt"></i></i></span>
                                        </button>
                                   </div>
                              </div>

                         </div>
                         <div class="form-group">
                              <label for="Input3">Message</label>
                              <textarea rows="5" class="form-control" id="message" name="message"
                                   placeholder="I am thankful for the first-line workers who protected me and my loved ones in this dangerous time."
                                   required></textarea>
                         </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         <button type="submit" class="btn btn-danger">Create Post</button>
                    </div>
               </form>
          </div>
     </div>
</div>
{% endblock %}

{% block insert %}
     <br>
     {% for post in posts %}
     <div class="row"> 
          <div class="container col w-100 bg-light border border-danger text-danger rounded" style="padding: 1em;">
               <!-- header -->
               <p><small>{{ post.name}}, <i>{{ post.location }}</i></small></p>
               <!-- content -->
               <p>{{ post.message }}</p>
          </div>
     </div>
     <br>
     {% endfor %}
{% endblock %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="js/index.js"></script>
{% endblock %}