{% extends "parent.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-transparent" >

     <!-- logo -->
     <a class="navbar-brand" href="/">
          <img src="/public/images/logo.png" alt="Wall of Thanks Logo" height="100" width="215">
     </a>

    <button class="navbar-toggler bg-danger btn-lg ml-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>

     <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
          <div class="ml-auto">
               <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">
                    <i class="far fa-edit"></i>
                    Add to the Wall
               </button>
               <a class="btn btn-danger btn-lg ml-3" href="/about">
                    <i class="fas fa-heart"></i>
                    About Us
               </a>
          </div>
     </div>

</nav>
{% endblock %}

{% block extras %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
     <div class="modal-dialog" role="document">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add to the Wall!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
               </div>
               <form name="createCardForm" id="createCardForm" action="/cards/create" method="POST" onSubmit="return checkProfanity()">
                    <div class="modal-body">
                         <div class="form-group">
                              <label for="Input1">Name</label>
                              <input type="text" class="form-control" id="name" name="name" placeholder="Put your name here."
                                   required>
                         </div>
                         <div class="form-group">
                              <label for="formGroupExampleInput2">Location</label>
                              <div class="row">
                                   <div class="col-10">
                                        <input type="text" class="form-control" id="location" name="location"
                                   placeholder="Type your location, or auto-fill with the button!" required>
                                   </div>
                                   <div class="col-2 ">
                                        <button type="button" class="btn btn-labeled btn-danger" onclick="updateLocation();">
                                             <span class="btn-label" style="font-size: 24px;"><i class="fas fa-map-marker-alt"></i></i></span>
                                        </button>
                                   </div>
                              </div>

                         </div>
                         <div class="form-group">
                              <label for="Input3">Message</label>
                              <textarea maxlength="280" rows="5" class="form-control" id="message" name="message"
                                   placeholder="Write your message here (max 280 characters)."
                                   required></textarea>
                         </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         <button type="submit" class="btn btn-danger">Create Post</button>
                    </div>
               </form>
          </div>
     </div>
</div>
{% endblock %}

{% block insert %}
     <br>
     <div class="row">
     {% for post in posts %}
          <div class="col-md-6 p-3">
               <div class="p-4 {{ ['bg-passion', 'bg-firewatch', 'bg-cherry', 'bg-blush', 'bg-ibizasunset'] | random }} text-primary rounded-lg shadow">
                    <!-- header -->
                    <p><small>{{ post.name}}, <i>{{ post.location }}</i></small></p>
                    <p><small>{{ post.timestamp }}</small></p>
                    <!-- content -->
                    <p>{{ post.message }}</p>
                    <button class="btn btn-labeled btn-outline-light" onclick="heartCard('{{ post._id }}')">
                         <span><i class="fas fa-heart mr-2"></i>{{ post.hearts }}</span>
                    <button class="btn btn-labeled btn-outline-light float-right" onclick="reportCard('{{ post._id }}')">
                         <span><i class="fas fa-flag"></i></span>
               </div>
          </div>
     {% endfor %}
     </div>
     <br>
{% endblock %}


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="js/index.js"></script>
{% endblock %}
