{% extends "parent.html" %}

{% block insert %}
     <br>
     <div class="row">
          <div class="container col-md-2 bg-primary border border-primary" style="padding: 1em; border-radius: 0.5em;">
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
          </div>
          <div class="container col-md-3 bg-light border border-primary" style="padding: 1em; border-radius: 0.5em;">
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
          </div>
          <div class="container col-md-3 bg-primary border border-primary" style="padding: 1em; border-radius: 0.5em;">
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
          </div>
          <div class="container col-md-3 bg-light border border-primary" style="padding: 1em; border-radius: 0.5em;">
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
          </div>
     </div>
     <br>
     <div class="row">
          <div class="container col-md-4 bg-primary border border-primary" style="padding: 1em; border-radius: 0.5em;">
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
          </div>
          <div class="container col-md-2 bg-light border border-primary" style="padding: 1em; border-radius: 0.5em;">
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
          </div>
          <div class="container col-md-3 bg-primary border border-primary" style="padding: 1em; border-radius: 0.5em;">
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
          </div>
          <div class="container col-md-2 bg-light border border-primary" style="padding: 1em; border-radius: 0.5em;">
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
          </div>
     </div>
{% endblock %}